@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cormorant+Upright:wght@500;600;700&display=swap');

.info-image {
    margin-top: 2em;
    max-width: 80%;
    border: 2px solid #052659;
    margin-left: 2em;
}


.countdown-timer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 4em;
    font-size: 2rem;
    color: #ffffff;
    background-color: #052659;
    padding: 10px;
    border-radius: 5px;
    margin-left: 2.5em;
}

.countdown-timer span {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    /* background-color: #555555; */
    border-radius: 3px;
}

.countdown-timer span::before {
    content: attr(id);
    font-weight: bold;
    font-size: 14px;
    color: orange;
    margin-right: 5px;
}

.countdown-timer span::after {
    content: ':';
    color: orange;
}

.countdown-timer span:last-child::after {
    content: '!';
}

.info-heading {
    font-family: 'Cormorant Upright', serif;
    margin-top: 4.5em;
    margin-bottom: -4em;
    text-align: center;
}

@media (max-width: 600px) {
    /* .countdown-timer {
        font-size: 1rem;
    }

    .countdown-timer span {
        margin-top: 5em;
        padding: 3px;
        font-size: 0.8rem;
    }

    .countdown-timer span::before {
        font-size: 10px;
        margin-right: 2px;
    } */
}