@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cormorant+Upright:wght@500;600;700&display=swap');

:root {

    /**
     * colors
     */

    --space-cadet: hsl(224, 48%, 22%);
    --red-crayola: hsl(342, 100%, 50%);
    --black-coral: hsl(219, 13%, 44%);
    --blue-ryb: hsl(244, 86%, 59%);
    --cultured: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);

    /**
     * typography
     */

    --ff-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;

    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.063rem;
    --fs-4: 0.875rem;
    --fs-5: 0.813rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
     * transition
     */

    --transition: 0.25s ease;
    --transition-2: 0.5s ease;

    /**
     * spacing
     */

    --section-padding: 60px;

    /**
     * border radius
     */

    --radius-4: 4px;
    --radius-8: 8px;
    --radius-12: 12px;

}





/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

html {
    font-family: var(--ff-be-vietnam-pro);
    scroll-behavior: smooth;
}

body {
    background: var(--white);
}





/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/

.container {
    padding-inline: 15px;
}

.w-100 {
    width: 100%;
}

.h1,
.h2,
.h3 {
    color: var(--space-cadet);
    line-height: 1.2;
}

.h1 {
    font-size: var(--fs-1);
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-3);
}

/* .section-text {
    margin-top: 3em;
} */

/* .section-text-2 {
    margin-top: 3em;
} */

.section-text {
    color: var(--black-coral);
    font-size: var(--fs-4);
    line-height: 1.8;
    margin-bottom: 15px;
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
}

.btn {
    font-size: var(--fs-4);
    font-weight: var(--fw-500);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 14px 25px;
    border-radius: var(--radius-4);
    transition: var(--transition);
}

.btn-primary {
    color: var(--white);
    background: #052659;
    margin-top: 3.5em;
}

/* .btn>ion-icon {
    font-size: 16px;
}
*/

.btn-primary:is(:hover, :focus) {
    background: pink;
}

.btn-secondary {
    background: pink;
    color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
    background: red;
}

/* .section-subtitle {
    color: var(--black-coral);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    margin-bottom: 15px;
} */





/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    background: var(--white);
    box-shadow: 0 2px 25px hsla(0, 0%, 0%, 0.1);
    padding-block: 16px;
    overflow: hidden;
    transition: 0.35s ease-out;
    z-index: 4;
}

.header.nav-active {
    height: 250px;
    transition: 0.5s ease-out;
}

.header.active {
    position: fixed;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Cormorant Upright', serif;
    font-size: large;
    font-weight: 700;
}

.logo img {
    width: 160px;
}

.nav-toggle-btn {
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 35px;
    padding-inline: 5px;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
    display: block;
}

.nav-toggle-btn .close,
.nav-toggle-btn.active .open {
    display: none;
}

.navbar {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--white);
    padding-block: 10px;
    visibility: hidden;
}

.header.nav-active .navbar {
    visibility: visible;
}

.navbar-link {
    color: var(--space-cadet);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    padding: 6px 15px;
    transition: var(--transition);
    opacity: 0;
}

.header.nav-active .navbar-link {
    opacity: 1;
}

.navbar-link:is(:hover, :focus) {
    color: var(--red-crayola);
}

.header .btn {
    display: none;
}

/* HERO */

.hero {
    background: var(--cultured);
    padding-top: 130px;
    padding-bottom: var(--section-padding);
}

.hero .shape {
    display: none;
}

.hero-banner {
    margin-bottom: 4em;
    width: 250px;
    margin-left: 1.7em;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-family: 'Cormorant Upright', serif;
}

.hero .btn {
    margin-inline: auto;
}

/**
   * responsive larger than 768px screen
   */

@media (min-width: 768px) {

    /**
     * base font size
     */

    html {
        font-size: 17.5px;
    }

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 2.286rem;
        --fs-2: 1.829rem;

    }



    /**
     * REUSED STYLE
     */

    .container {
        max-width: 700px;
    }
}





/**
   * responsive larger than 992px screen
   */

@media (min-width: 992px) {

    /**
     * base font size
     */

    html {
        font-size: 18px;
    }

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 2.571rem;
        --fs-2: 1.944rem;
        --fs-3: 1.167rem;

        /**
       * spacing
       */

        --section-padding: 120px;

    }



    /**
     * REUSED STYLE
     */

    .container {
        max-width: 950px;
    }

    .section-title {
        max-width: 20ch;
        margin-inline: auto;
    }



    /**
     * HEADER
     */

    .header,
    .header.nav-active {
        height: unset;
    }

    .header {
        background: none;
        box-shadow: none;
    }

    .header.active {
        background: var(--white);
        box-shadow: 0 2px 25px hsla(0, 0%, 0%, 0.1);
    }

    .nav-toggle-btn {
        display: none;
    }

    .navbar {
        all: unset;
    }

    .navbar-link {
        opacity: 1;
        padding-block: 20px;
    }

    .header.active .navbar-link {
        padding-block: 5px;
    }

    .navbar-list {
        display: flex;
    }

    .header .btn {
        display: flex;
        font-size: var(--fs-5);
    }



    /**
     * HERO
     */

    .hero .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .hero {
        padding-top: 180px;
    }

    .hero-banner {
        margin-bottom: 0;
        order: 1;
    }

    .hero-content {
        text-align: left;
    }

    .hero .btn {
        margin-inline: 0;
    }

    /**
   * responsive larger than 1200px screen
   */

    @media (min-width: 1200px) {

        /**
     * CUSTOM PROPERTY
     */

        :root {

            /**
       * typography
       */

            --fs-1: 3rem;
            --fs-2: 2.333rem;
            --fs-3: 1.222rem;
            --fs-4: 0.944rem;

        }



        /**
     * REUSED STYLE
     */

        .container {
            max-width: 1150px;
        }



        /**
     * HERO
     */

        .hero {
            position: relative;
            z-index: 1;
            overflow: hidden;
        }

        .hero .shape {
            display: block;
            position: absolute;
            user-select: none;
            z-index: -1;
        }

        .hero .shape-1 {
            top: 0;
            left: -80px;
            height: 100%;
        }

        .hero .shape-2 {
            bottom: 60px;
            left: 30%;
        }

        .hero .shape-3 {
            top: 0;
            right: -80px;
            height: 100%;
        }
    }
}